# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

.droidres/
Resource.Designer.cs
.vs/TravelIt/v15/Server/sqlite3/db.lock
.vs/TravelIt/v15/Server/sqlite3/storage.ide
.vs/TravelIt/v15/Server/sqlite3/storage.ide-shm
.vs/TravelIt/v15/Server/sqlite3/storage.ide-wal
.vs/TravelIt/v15/Server/sqlite3/storage.ide
.vs/TravelIt/v15/Server/sqlite3/storage.ide-shm
.vs/TravelIt/v15/Server/sqlite3/storage.ide-wal
.vs/TravelIt/xs/UserPrefs.xml
.vs/TravelIt/DesignTimeBuild/.dtbcache
*.ide-wal
*.ide
*.ide-shm
*.ide-wal
.mfractor/.travelit.db
.idea/.idea.TravelIt/riderModule.iml
.idea/.idea.TravelIt/.idea/.name
.idea/.idea.TravelIt/.idea/contentModel.xml
.idea/.idea.TravelIt/.idea/indexLayout.xml
.idea/.idea.TravelIt/.idea/modules.xml
.idea/.idea.TravelIt/.idea/vcs.xml
.idea/.idea.TravelIt/.idea/workspace.xml
db.lock
.vs/
